<h2> Static Data from Lab </h2>

<div ng-controller="staticgridlab as vm">

    <div kendo-grid
         k-height="500"
         k-selectable="true"
         k-scrollable="false"
         k-data-source="vm.gridData"
         k-column-resize-handle-width="6"
         k-columns="vm.gridColumns">
    </div>


</div>