<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner">
    <div class="navbar-header">
        <a href="http://google.com" class="navbar-brand">Vocational School</a>
    </div>
    <div class="navbar-collapse collapse">
        <nav class="navbar-logo">
            <ul class="nav navbar-nav">
                <li><a href="#/signup">Student Sign-Up Form</a></li>
            </ul>
        </nav>
    </div>
</header>