<h2> Static Local Data</h2>

<div ng-controller="staticgridlocal as vm">

    <div kendo-grid
         k-height="500"
         k-selectable="true"
         k-scrollable="false"
         k-data-source="vm.gridData"
         k-column-resize-handle-width="6"
         k-columns="vm.gridColumns">
    </div>

</div>